@model CoreMvcWeb.Models.Board.BoardModel
@{
    var login = User.GetLoginInfo();

    var page = ViewData["page"] as int?;

    var param = $"p={page}";
}

<div style="width:900px;">
    <table class="table table-common">
        <colgroup>
            <col style="width:90px" />
            <col style="width:auto" />
        </colgroup>
        <tbody class="text-left">
            <tr>
                <th>제목</th>
                <td>@Model.TITLE</td>
            </tr>
            <tr>
                <th>내용</th>
                <td style="vertical-align:top;">
                    @Html.Raw(Model.CONTENTS)
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>@Model.REG_USERNAME (@Model.REG_DATE.ToString("yyyy-MM-dd HH:mm:ss")) - @Model.REG_IP</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" style="margin-top:15px;">
        <a href="/board/list?@param" class="btn btn-sm btn-secondary">목록</a>

        @if (Model.REG_USER == login?.USER_ID)
        {
            //편집 버튼
            //삭제 버튼
        }
    </div>
</div>
