@using BluePope.HomeWeb.Models.Common
@model List<MLeftFolder>

<style>

</style>
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        @foreach (var item in Model)
        {
            <li class="@(item.isActive ? "active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-folder"></i><span class="hide-menu">@item.Name</span></a>
                <ul aria-expanded="false" class="collapse @(item.isActive ? "in" : "")">
                    @foreach (var subMenu in item.SubMenuList)
                    {
                        <li>
                            <a class="@(subMenu.isActive ? "active" : "")" href="/@item.ControllerName/@subMenu.ActionName">
                                · @subMenu.Name
                                @if (subMenu.NotiCount > 0)
                                {
                                    <span class="badge badge-danger menu-noti">@subMenu.NotiCount</span>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</nav>
